.card {
  box-sizing: border-box;
  width: 750px;
  height: 450px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
  gap: 2rem;
}

.card:hover {
  border: 1px solid none;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.card_title{
  font-size: 20px;
  padding: 0px 20px;
  font-family: "Raleway", sans-serif;
  color: #00263b;
  font-size: 1em;
}

.card_content{
  padding: 0px 20px;
  font-size: 14px;
  text-decoration-line: none;
  font-family: "Raleway", sans-serif;
  color: #00263b;
  font-size: 0.9em;
}

@media only screen and (max-width: 1024px) {
  .card {
    width: 500px;
    height: 300px;
    }
      
}

@media only screen and (max-width: 600px) {
  .card {
    width: 300px;
    height: 200px;
    }
}