.headernav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    background-color: transparent;
    transition: background-color 0.3s ease-in-out; 
  
    &_nav {
      display: flex;
      justify-content: center; 
      gap: 20px; 
  
      a {
        text-decoration: none;
        padding: 0.8em 1.7em;
        position: relative;
        overflow: hidden;
        border-radius: .3em;
        cursor: pointer;
        transition: .5s;
        font-weight: 400;
        font-size: 22px;
        font-family: inherit;
        text-transform: uppercase;
        z-index: 1;
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        background-image: linear-gradient(to right, #DF8E32, #00AB8B);
        background-clip: text;
        color: transparent;

  
        &::before,
        &::after {
          content: '';
          display: block;
          width: 50px;
          height: 50px;
          transform: translate(-50%, -50%);
          position: absolute;
          border-radius: 50%;
          z-index: -1;
          background-color: rgb(255, 255, 255, 0.2);
          transition: 1s ease;
        }
  
        &::before {
          top: -1em;
          left: -1em;
        }
  
        &::after {
          left: calc(100% + 1em);
          top: calc(100% + 1em);
        }
  
        &:hover::before,
        &:hover::after {
          height: 410px;
          width: 410px;
        }
  
        &:hover {
          background-image: linear-gradient(to right, #DF8E32, #00AB8B);
        }
  
        &:active {
          filter: brightness(.8);
        }
      }
    }
  }
  
  .headernav.scrolled {
    background-color: rgb(228 228 231); 
    a {
      background-image: linear-gradient(to right, #DF8E32, #00AB8B);
      background-clip: text;
      color: transparent;

      &:hover {
        background-image: linear-gradient(to right, #DF8E32, #00AB8B);;
      }

    }

  }
  

  /* Media query for tablets */
@media only screen and (max-width: 1024px) {
  .headernav {
    &_nav {
      gap: 15px; 
    }
  }
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
  .headernav {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(241 245 249);
    &_nav {
      flex-direction: row;
      align-items: center;
      gap: 10px; 
      justify-content: center;
    }
    a {
      padding: 0.5em 1em; 
      font-size: 11px; 
    }
  }
}
